*{
    margin: 0%;
    padding: 0%;
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
}
nav ul li{
    display: inline-block;
    padding: 50px 22px;
}
nav ul li a{
    text-decoration:none;
    color: wheat;
    font-weight: bold;
    list-style: none;
    transition: 0.5s;
}
nav ul li a:hover{
    color: green;
}
.logo{
    color: wheat;
    font-size: 40px;
    letter-spacing: 2px;
}
span{
    color: rgb(65, 204, 65);
}
.bnt-subs{
    background-color: rgb(65, 204, 65);
    color: white;
    text-decoration: none;
    padding: 7px 32px;
    border-radius: 30px;
    transition: 0.5s;
}
.bnt-subs:hover{
    transform: scale(1.1);
}
.content{
    margin-left: 8%;
    margin-top: 12%;
}
.content .img img{
    width: 300px;
    border-radius: 5000px;
}
.content .text{
    width: 100%;
    line-height: 64px;
    color: wheat;
}
.content .text h4{
    font-size: 23px;
    color: #fcfc;
    letter-spacing: 2px;
}
.content .text h1{
    font-size: 75px;
    letter-spacing: 1px;
}
.content .text h3{
    font-size: 25px;
    letter-spacing: 1px;
}
.cv{
    text-decoration: none;
    color: white;
    background-color: rgb(65, 204, 65);
    padding: 7px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px #000, 0px 0px 8px #858585;
    transition: 0.5s;
}
.cv:hover{
    background-color: transparent;
    outline: none;
    border: rgb(65, 204, 65) solid 2px;
}
.content .img{
    width: 30%;
    height: 80%;
    position: absolute;
    bottom: 0px;
    right: 10px;
}
.content .text a img{
    padding: 0 8px;
}
.face-logo{
    width: 40px;
}
.insta-logo{
    width: 40px;
}
.linkedin-logo{
    width: 40px;
}